html {
    overflow: hidden;
    height: 100%;
}


body {
  height: 100%;
  overflow: auto;
  background: rgba(183,222,237,1);
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Cabin Sketch', sans-serif;
    color: #000;
}

h1 {
    font-size: 3.3em;
    margin: 0.1em 0.3em 0.5em;
    color: #130D3B;
    text-shadow: 1px 1px white, -1px -1px #444;
    display: inline-block;
    position: relative;
}

.text-center img {
    position: absolute;
    width: 40px;
}

.effect {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10%;
    margin-top: 30px;
    width: 200px;
    vertical-align: middle;
    -webkit-box-shadow: 7px 9px 46px 0px rgba(94,94,94,1);
    -moz-box-shadow: 7px 9px 46px 0px rgba(94,94,94,1);
    box-shadow: 7px 9px 46px 0px rgba(94,94,94,1);
}

h3 {
    text-transform: uppercase;
    color: #894D4D;
}

#current h3 {
    margin-top: 20px;
}

h3.day {
    color: #36369C;
}

img {
    width: 30px;
    height: auto;
}

@media screen and (max-width: 767px) {
    .effect {
        width: 270px;
    }
}

@media screen and (max-width: 460px) {
    .github-corner {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .effect {
        width: 100%;
    }
}
